<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <%- include ('partials/head.ejs'); -%>
   </head>
   <body>
      <div class="container">
         <header>
            <%- include ('partials/header.ejs', {username : username }); -%>
         </header>
         <h1>Modifier</h1>
         <form action="/edit/<%= data.ID %>" method="POST">
            <div class="form-group">
               <label for="title">Title</label>
               <input type="text" class="form-control" id="title" name="title" value="<%= data.Title %>" required/>
			</div>     
			<div class="form-group">
				<label for="mdp">Mot de passe</label>
				<input type="text" class="form-control" id="mdp" name="mdp" value="<%= data.mdp %>" required />
			 </div>
            <div class="form-group">
               <label for="Classe">Classe</label>
               <select id="Classe" class="form-control" name="Classe" required>
                  <option value="" <%= data.Classe == "2B" ? "selected" : "" %>>2B</option>
                  <option value="2V" <%= data.Classe == "2V" ? "selected" : "" %>>2V</option>
                  <option value="2R" <%= data.Classe == "2R" ? "selected" : "" %>>2R</option>
               </select>
            </div>
            <button type="submit" class="btn btn-info">sauvegarder</button>
         </form >
      </div>
   </body>
</html>