<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <%- include ('partials/head.ejs'); -%>
   </head>
   <body>
      
      <div class="container ">
         <header>
            <%- include ('partials/header.ejs'); -%>
         </header>
         <div class="row">
            <div class="col-md-7 col-md-offset-2">
               <br><br><br><br>
               <h1 class="text-center;" style="color: black;"><%= dt.Title %> </h1>
               <br><br><br><br>
               <h4 style="color: black; white-space: pre-wrap"><%= dt.Content %> </h4>
            </div>
        </div>
     
        

         <footer>
            <%- include ('partials/footer.ejs'); -%>
         </footer>
      </div>
   </body>
</html>